/* line 4, main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 11, main.scss */
body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/* line 18, main.scss */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
/* line 24, main.scss */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  /* Make the masthead heading the same height as the navigation */
}
/* line 29, main.scss */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
/* line 38, main.scss */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* line 44, main.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* line 51, main.scss */
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  /* line 58, main.scss */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  /* line 63, main.scss */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  /* line 67, main.scss */
  .jumbotron {
    border-bottom: 0;
  }
}
/* line 73, main.scss */
.page-container {
  width: 90%;
  margin: 0 auto;
}
/* line 77, main.scss */
.page-container h2 {
  text-align: center;
  font-weight: 900;
}
/* line 82, main.scss */
.page-container .bt {
  width: 40px;
  border: none;
  cursor: pointer;
  outline: none;
}
/* line 89, main.scss */
.page-container .bt.bt-achieve {
  background: #9dc9a8;
  color: #fff;
}
/* line 94, main.scss */
.page-container .todo-list, .page-container .add-todo {
  list-style-type: none;
  text-align: left;
}
/* line 98, main.scss */
.page-container .todo-list .txt, .page-container .add-todo .txt {
  background: transparent;
  width: 100%;
  outline: none;
  padding: 10px;
  margin: 4px 0;
  border: 1px solid #9dc9a8;
  width: 90%;
  font-size: 16px;
  position: relative;
  min-height: 100%;
}
/* line 112, main.scss */
.page-container .todo-list li {
  padding: 10px;
  margin: 4px 0;
  border: 1px solid #9dc9a8;
  width: 90%;
  position: relative;
  min-height: 100%;
  cursor: pointer;
}
/* line 121, main.scss */
.page-container .todo-list li .bt {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transition: width 0.2s ease-in-out;
}
/* line 129, main.scss */
.page-container .todo-list li .bt:hover {
  width: 80px;
}

/* line 137, main.scss */
rect {
  fill: orange;
}

/* line 141, main.scss */
rect:hover {
  fill: #f7cf85;
}
