// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.page-container {
  width: 90%;
  margin: 0 auto;

  h2 {
    text-align: center;
    font-weight: 900;
  }

  .bt {
    width: 40px;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .bt.bt-achieve {
    background: #9dc9a8;
    color: #fff;
  }

  .todo-list, .add-todo {
    list-style-type: none;
    text-align: left;

    .txt {
      background: transparent;
      width: 100%;
      outline: none;
      padding: 10px;
      margin: 4px 0;
      border: 1px solid #9dc9a8;
      width: 90%;
      font-size: 16px;
      position: relative;
      min-height: 100%;
    }
  }

  .todo-list li {
    padding: 10px;
    margin: 4px 0;
    border: 1px solid #9dc9a8;
    width: 90%;
    position: relative;
    min-height: 100%;
    cursor: pointer;

    .bt {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      transition: width 0.2s ease-in-out;
    }

    .bt:hover {
      width: 80px;
    }
  }

}


rect {
  fill: orange;
}

rect:hover {
  fill: rgb(247, 207, 133)
}

