  <div class="container" ng-controller="Task2Ctrl">
    <!-- HEADER AND TODO COUNT -->
    <div class="text-center">
      <h1>I'm a Todo-aholic <span class="label label-info">{{ todos.length }}</span></h1>
    </div>

    <!-- TODO LIST -->
    <div id="todo-list" class="row">
      <div class="col-sm-6 col-sm-offset-4">

        <!-- LOOP OVER THE TODOS IN $scope.todos -->
        <div class="checkbox" ng-repeat="todo in todos">
          <label>
            <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
            <span class="small text-muted"> {{todo.added | date:'medium'}}</span>
          </label>
        </div>
        <p class="text-center" ng-show="loading">
          <span class="fa fa-spinner fa-spin fa-3x"></span>
        </p>

      </div>
    </div>

    <!-- FORM TO CREATE TODOS -->
    <div id="todo-form">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
          <div class="form-group">

              <div class="input-group">
                <input type="text" class="form-control text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text" ng-minlength="1" required>
                <span class="input-group-btn">
                  <input type="hidden" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="formData.added" is-open="isOpen"/>
                  <button type="button" class="btn btn-default" ng-click="openCalendar($event, prop)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div><!-- /input-group -->

          </div>

          <!-- createToDo() WILL CREATE NEW TODOS -->
          <button type="submit" class="btn btn-primary btn-sm" ng-click="createTodo()">Add</button>
        </form>
      </div>
    </div>

  </div>