<div class="container">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control text-center" placeholder="comma separated numbers" ng-model="data" ng-minlength="1" required>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="drawChart(data)">Draw

                </button>
            </span>
        </div>
    </div>


    <div class="chart"></div>
</div>